<!DOCTYPE html>
<html>
<head>
  <title>Weather Information</title>
</head>
<body>
<h1>Weather Information for <%= @weather[:city] %></h1>
<p>Temperature: <%= @weather[:current_temp] %>°C</p>
<p>Min Temperature: <%= @weather[:min_temp] %>°C</p>
<p>Max Temperature: <%= @weather[:max_temp] %>°C</p>
<p>Is coming from cache: <%= @weather[:cached] %></p>
</body>
</html>
